<section>
  <form class="form" [formGroup]="formGroup" >
    <div class="control-form">
      <label>Nombre:</label>
      <input formControlName="name" type="text" name="nameText" />
    </div>
    <div class="control-form">
      <label>Teléfono:</label>
      <input formControlName="phone" type="tel" name="phoneText" />
    </div>
    <div class="control-form">
      <label>Correo electrónico:</label>
      <input placeholder="@" formControlName="email" type="email" name="emailText" />
    </div>
    <span class="error"> {{ getError('email') }} </span>
    <div class="control-form">
      <label>Contraseña:</label>
      <input formControlName="password" type="password" name="passwordText" />
    </div>
    <span class="error"> {{ getError('password') }} </span>
    <br /><br />
    <button (click)="register()" [disabled]="formGroup.invalid">Registarme</button>
  </form>
</section>
