<section>
    <form class="form" [formGroup]="formGroup" >
        <div class="control-form">
            <label>Fecha de ingreso:</label>
            <input formControlName="booking_date_start" type="date" name="ingresoText" />
        </div>
        <div class="control-form">
            <label>Fecha de salida:</label>
            <input formControlName="booking_date_end" type="date" name="salidaText" />
        </div>
        <div class="control-form">
            <label>Comentario:</label>
            <input formControlName="comments" type="text" name="comentText" />
        </div>
        <br /><br />
        <button (click)="booking()" [disabled]="formGroup.invalid">Registarme</button>
    </form>
</section>
