@import '/src/styles/variables.scss';

.card-detail {
  border-radius: 12px;
  margin: 0 20px;
  overflow: hidden;
  img {
    width: 100%;
  }
  p {
    font-weight: 400;
    color: $hof-color;
    margin: 10px 0px;
  }
}
